/* Regular Recoleta */
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/recoleta/recoleta-regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/recoleta/recoleta-thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/recoleta/recoleta-light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/recoleta/recoleta-medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/recoleta/recoleta-semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/recoleta/recoleta-bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta";
  src: url("/fonts/recoleta/recoleta-black.otf");
  font-weight: 900;
  font-style: normal;
}

/* Recoleta Alt */
@font-face {
  font-family: "Recoleta-Alt";
  src: url("/fonts/recoleta/recoleta-alt-regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta-Alt";
  src: url("/fonts/recoleta/recoleta-alt-thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta-Alt";
  src: url("/fonts/recoleta/recoleta-alt-light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta-Alt";
  src: url("/fonts/recoleta/recoleta-alt-medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta-Alt";
  src: url("/fonts/recoleta/recoleta-alt-semibold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta-Alt";
  src: url("/fonts/recoleta/recoleta-alt-bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Recoleta-Alt";
  src: url("/fonts/recoleta/recoleta-alt-black.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "BruceForever";
  src: url("/fonts/bruceforever/regular.ttf");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Cyber";
  src: url("/fonts/cyber/regular.ttf");
  font-weight: 400;
  font-style: normal;
}


/* Utility classes */
.recoleta {
  font-family: "Recoleta", sans-serif;
}

.recoleta-alt {
  font-family: "Recoleta-Alt", sans-serif;
}

.bruceforever {
  font-family: "BruceForever", sans-serif;
}

.cyber {
  font-family: "Cyber", sans-serif;
}

/* Font weight utilities */
.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}
