@font-face {
  font-family: "BruceForever";
  src: url("/fonts/bruceforever/regular.ttf");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Cyber";
  src: url("/fonts/cyber/regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* Sunglass Gamified Font */
@font-face {
  font-family: "Shiny";
  src: url("/fonts/shiny/default.ttf");
  /* font-weight: 900;
  font-style: normal; */
}

@font-face {
  font-family: "Mouzambik";
  src: url("/fonts/mouzambik/regular.ttf");
  /* font-weight: 400;
  font-style: normal; */
}

@font-face {
  font-family: "Facon";
  src: url("/fonts/facon/regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* Utility classes */
.bruceforever {
  font-family: "BruceForever", sans-serif;
}

.cyber {
  font-family: "Cyber", sans-serif;
}

.shiny {
  font-family: "Shiny", sans-serif;
}

.gothic-one {
  font-family: "Dela Gothic One", system-ui;
}

.mouzambik {
  font-family: "Mouzambik", sans-serif;
}

.facon {
  font-family: "Facon", sans-serif;
}

.garamond {
  font-family: 'EB Garamond Variable', serif;
}

/* Font weight utilities */
.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}
